DATABASE_URL=<your-postgresql-database-url>
USE_DOCKER=no
DJANGO_ENV=local
BITTENSOR_NETWORK=test
BITTENSOR_NETWORK_UID=250   # This is the UID of the subnet registered (defaults to 250)
BITTENSOR_VALIDATOR_STAKE_THRESHOLD=10 # This is the minimum stake required to be a validator (defaults to 10)